name: Deploy to ECS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - uses: aws-actions/amazon-ecr-login@v2

    - name: Build and Push Docker Image
      run: |
        docker build -t devops-final-app .
        docker tag devops-final-app:latest ${{ secrets.ECR_REPO }}:latest
        docker push ${{ secrets.ECR_REPO }}:latest

    - name: Deploy to ECS
      run: |
        aws ecs update-service \
          --cluster devops-final-cluster \
          --service devops-final-service \
          --force-new-deployment
