name: ECS Deploy

on:
  push:
    branches:
      - master   # or your default branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Log in to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build Docker image
      run: |
        IMAGE_TAG=${GITHUB_SHA::8}
        docker build -t devops-final-app:$IMAGE_TAG .
        docker tag devops-final-app:$IMAGE_TAG 599548907486.dkr.ecr.us-east-1.amazonaws.com/devops-final-app:$IMAGE_TAG
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

    - name: Push Docker image to ECR
      run: |
        docker push 599548907486.dkr.ecr.us-east-1.amazonaws.com/devops-final-app:$IMAGE_TAG

    - name: Update ECS service
      run: |
        aws ecs update-service \
          --cluster devops-final-cluster \
          --service devops-final-service \
          --force-new-deployment
